<div class="row">
  <div class="col-xs-12">
    <h1>{{ (accountState | async).accounts[id].name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (accountState | async).accounts[id].number }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (accountState | async).accounts[id].amount }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (accountState | async).accounts[id].currency }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Account <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditAccount()">Edit Account</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteAccount()">Delete Account</a></li>
      </ul>
    </div>
  </div>
</div>
